.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.header__info h3 {
    margin-right: 1em;
}