.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-container {
  display: flex;
}

/* country selector*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--light-gray);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--brand-green-light);
}

/* Phone */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  header h1 {
    font-size: 1.5em;
  }

  .dropdown {
    position: relative;
    margin-left: 1rem;
  }

  .shoppingbagicon {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
  }
}
