.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.shoppingbagicon {
    position: fixed;
    top: 1em;
    right: 1em;
}


/* Phone */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }
}
