.breadcrumb ul {
  display: flex;
}

.breadcrumb ul li {
  list-style: none;
  margin-left: 1.5em;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin: 4em auto;
}

.product-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-grid__item h3 {
  margin: 1.5em 2em 1em 2em;
}

.product-grid__item img {
  height: 400px;
}

.product-grid__item p {
  font-size: 0.7em;
}

/* single product */
.product-grid {
  display: grid;
  max-width: 60vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2em;
  margin: 6em auto;
}

.product-img {
  height: 75vh;
}
.product__info {
  display: flex;
  flex-direction: column;
}

.product__info__title {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.product__info__desc {
  padding: 1.5em 3em;
  margin-bottom: 1.5em;
}

.product__info__desc ul li {
  line-height: 1.4;
  margin-bottom: 0.5em;
}

.product__info__price {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.product__info__sizes select {
  height: 40px;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  outline: none;
  margin-bottom: em;
}

.compare-at-amount {
  text-decoration: line-through;
  margin-left: 0.3em;
}

.has-text-grey-light {
  color: var(--brown);
}

.clayer-availability-message-container {
  margin: 1.5em 0;
}

.available-message,
.unavailable-message {
  display: none;
}


@media screen and (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 750px;
    gap: 1em;
    margin: 2em auto;
  }

  .product-grid__item img {
    height: 280px;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    margin: 3em auto;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    margin: 1.5em auto;
  }

  .product-grid__item img {
    height: 350px;
  }

  .breadcrumb ul {
    display: flex;
    flex-direction: column;
  }

  .breadcrumb ul li {
    list-style: square;
    margin-left: 0em;
    margin-bottom: 1em;
  }

  .product-img {
    height: 70vh;
  }

  .product__info__desc {
    padding: 0;
    margin-bottom: 1.5em;
  }

  .product__info .button {
    width: 70vw;
  }
}
